# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml
.DS_Store
bin/
**/terraform.tfstate*
**/theplan
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

src/
pkg/
.idea/
.terraform/
terraform-provider-universe
vendor
.vscode
P
**/.terraform.lock.hcl
